{% extends 'parent/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title></title>
        <!-- Favicon-->
       <link rel="icon" type="image/x-icon" href="{% static 'assets/Group@2x.ico' %}" /> 
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

    <body class="d-flex flex-column">
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Section with Filter Card -->
            
            <!-- Main Content Section -->
            <div class="">
                <main class="flex-shrink-0">
                    <!-- Header -->
                    <header class="py-5">
                        <div class="container px-lg-5">
                            <div class="p-2 bg-light rounded-3 text-center" style="background-image: url('{% static 'school.webp' %}'); background-size: cover; background-position: center;">
                                <div class="m-4 m-lg-5">
                                    <h1 class="display-5 fw-bold text-dark">My Applications</h1>
                                    <p class="fs-4 text-dark">
                                        View your applications
                                    </p>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Page Content -->
                </main>
            </div>
        </div>
        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">
                                "Submitted Applications will be here, with the ability to view your application, update it, and delete it/withdraw it.
                                    At the same time the application will have a status update(accepted/rejected/pending/short-listed etc..)."
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>

{% endblock %}