<form action="{% url 'update_application_status' application.id %}" class="contact-form" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="form-floating mb-3">
<input class="form-control" id="title" type="text" name="status" value="{{ application.status }}" placeholder="Enter your title.." data-sb-validations="required" autocomplete="off"  inputmode="verbatim">
<label for="status">title</label>
<div class="invalid-feedback" data-sb-feedback="status:required">A title is required.</div>
</div>

<button type="submit" class="btn btn-primary btn-user btn-block">Update Article</button>
</form>