{% extends 'parent/base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'carousal/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'carousal/css/style.css' %}"> 
    <link href="{% static 'we/assets/css/main.css' %}" rel="stylesheet">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'; object-src 'none';">
         
    <br><br>
        <div >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <center>
                                <img src="{{ academic_art.image.url }}" alt="{{ academic_art.image.url }}" style="height: 600px; width: 100%;">
                            </center>
                            <center>
                                
                                <div class="container my-5">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-6">
                                            <h3>{{ academic_art.title }}</h3>                                                                               
                                        </div>
                                        <br>
                                        <center>
                                        <p class="mb-0">
                                            {{ academic_art.story|linebreaksbr }}
                                        </p>    
                                        </center>
                                        <div align="right">
                                            <i>{{ academic_art.date }}</i>                                                                               
                                        </div>
                                    </div>
                                </div>                                                            
                            </center>                                              
                        </div>
                    </div>

                </div>
            </div>
        </div> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>      
    <script src="{% static 'carousal/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'carousal/js/swiper.min.js' %}"></script>
    <script src="{% static 'carousal/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'carousal/js/custom.js' %}"></script> 


{% endblock %}