{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
 
    

        <br><br>
        
    <div class="  container " >
        
        <div class="row ">
            <div class="col-md-6 offset-md-3 container border rounded rounded-3 border-white  mb-3 shadow-lg p-3 mb-5">

                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        
                        <input type="text" class="form-control" name="username" placeholder="Username"> 
                    </div>
                    <br><br>
                    <div class="form-group">            
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-secondary">Login</button>
                     &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;
                    
                </form>
                <br>
                <center>
                    Don't have an account? <a href="">Create Account!</a>
                </center>
                
            </div>	
        </div>
    </div>
          
{% endblock %}