{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
 
    

        <br><br>
        
    <div class="  container " >
        
        <div class="row ">
            <div class="col-md-6 offset-md-3 container border rounded rounded-3 border-white  mb-3 shadow-lg p-3 mb-5">

                
                
                

                 <form  method="POST" action="{% url 'login' %}">
                     {% csrf_token %}
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">Username is required.</div>
                            </div>
                          <br>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password"  />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Password is required.</div>
                            </div>
                            
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg " id="submitButton" type="submit">Login</button></div>
                        </form>
                
            </div>	
        </div>
    </div>
          
{% endblock %}